*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: slateblue;
}


.outerBox
{
    height:18vh;
    width:10%;
    background-color:rgb(255, 255, 255);
    margin:1% 1%;
    display: inline-block;
}

.innerBox
{
    height:16vh;
    width:80%;
    position: relative;
    top:15%;
    left:10%;
    background-image: url(image/demo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}